h2{
    color:blueviolet;
}

.HI{
    color:green;
    font:"Lucida Handwriting",cursive; 
}

/* body{
    background-image:url(hi-text-sticker.jpg);

} */

/* .container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    border:2px solid black;
    padding:10px;
    margin:10px;
    width:800px;
    height:200px;
    gap:10px;

}

.box{
    border:2px solid rgb(45, 100, 135);
    padding:10px;
    width:100px;
    height:150px;
    background-color:lightgrey;
    text-align:center;
} */
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.newboxcontainer{
    border:2px solid black;
    width:300px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.newbox{
    display:flex;
    border:2px solid rgb(200, 100, 135);
    justify-content: center;
    align-items:center;
    width:100px;
    height:100px;
    background-color:lightblue;
    text-align:center;
}

.container1{
    border :2px solid black;
    width:600px;
    height:600px;
    display:flex;
    flex-wrap:wrap;
    gap:15px;

}
.box1{
    display:flex;
    border:2px solid rgb(100, 150, 200);
    padding: 10px;
    width:100px;
    height:100px;
    background-color:lightgreen;
    
}